@charset "UTF-8";

*{
    list-style-type: none;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    color : #000;
}
.book-wrap{
    width: 1200px;
    margin: 0 auto;
}
.book-list-header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 50px 0;
    margin-bottom: 50px;
}
.book-list-header div{
    float: left;
}
.book-list-header>div:first-child{
    font-size: 40px;
    font-weight: bold;
    padding-right:30px;
}

.book-list-header>div:nth-child(2){
    height: 45px;
    display: flex;
    align-items:flex-end;
}
.book-list-header ul{
    overflow: hidden;
}
.book-list-header>div>ul>li{
    float: left;
    font-size: 20px;
    padding: 0 10px;
}
.book-list-header>div>ul>li>a:hover{
	color : #952eee;
}
.book-list-header>div>ul>li span{
	color : #EEEEEE;
	padding-left : 20px;
}


.book-list-header .book-selectBox{
    height: 100%;
    float: right;
    background-color: yellow;
}
.book-selectBox>div{
    height: 45px;
    background-color: tomato;
    display: flex;
    align-items: flex-end;
}


.book-list{
    width: 1140px;
    margin: 0 auto 80px auto;
    overflow: hidden;
}
.book-one{
    float: left;
    width: 530px;
    margin: 20px 10px;
    padding: 10px;
    overflow: hidden;
    border-top: 1px solid #EEEEEE;
    border-bottom : 1px solid #EEEEEE;
}
.book-one-cover{
    float: left;
    width: 180px;
    margin: 0 20px 0 10px;
    background-color: #fff;
    height: 240px;
    border: 1px solid #EEEEEE;
}
.book-one-etc{
    float: left;
    width: 300px;
}
.book-one-etc div{
    width: 100%;
}
.book-one-etc .book-one-title{
    height:34px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    line-height: 20px;
}
.book-one-etc .book-one-title>a:hover{
	color:#952eee;
}
.book-one-etc .book-one-subTitle{
    font-size: 12px;
    margin-bottom: 5px;
}
.book-one-etc .book-one-subTitle .gray-bar{
	color : #EEEEEE;
	margin : 0 10px;
}
.book-one-etc .book-one-writer{
    margin-bottom: 18px;
}
.book-one-etc .book-one-syn{
    background-color: ghostwhite;
    margin-bottom: 23px;
    height: 71px;
    padding:5px 5px 11px 5px;
    font-size:16px;
    border-radius: 5px;
    width: 98%;
    
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    line-height: 20px;
    overflow: hidden;
}
.book-one-etc .book-one-exp{
    display: flex;
    cursor: default;
    justify-content: right;
}
.book-one-exp .book-one-count, .book-one-exp .subscriber{
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
}