* {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

input {
    outline: none;
}

#gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#gototop:hover {
    background-color: red;
}

body>div {
    overflow: hidden;
}

body>div>div {
    margin: 0 auto;
    width: 1200px;
}

.header-wrap {
    background-color:ghostwhite;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
    width: 100%;
    position:fixed;
    z-index: 10;
}

.header-blocked {
    height: 145px;
}

.left-top-wrap {
	display : flex;
	justify-content: space-between;
	flex-wrap : nowrap;
    padding-top: 20px;
    height: 50px;
    text-align: right;
    width: 1200px;
    margin : 0 auto; 
}

.left-top-wrap>a {
    height: 70px;
    margin: 10px;
    font-size: 30px;
}

.left-top-wrap>a:hover {
    font-weight: bolder;
}

.header-bottom {
    margin-top: 10px;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}



.menu-wrap {
    overflow: hidden;
    display : flex;
	justify-content: space-between;
	margin-left : 170px;
	width: 1800px;
}

div[class$="-menu"]>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

div[class$="-menu"]>ul>li {
    display: block;
    float: left;
}
.top-menu {
	width: 100%;
    justify-content: space-around;
}


.top-menu>ul>li:first-child{
	font-size: 18px;
	padding-left: 300px;
}
.top-menu>ul>li>a {
    display: block;
    width: 130px;
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    line-height: 300%;
}


.top-menu-button {
    position: relative;
}


.top-menu>ul:hover>li>a {
    color:rgb(160, 160, 160);
}

.top-menu>ul>li:hover>a {
    color:blueviolet;
}
.top-menu>ul>li:first-child>a:hover>span{
	color:blueviolet;
}






.logo-text{
	width : 700px;
    float: left;
    font-size: 30px;
    color: blueviolet;
    font-weight: bolder;
}
.logo-text>h4{
	font-weight: bolder;
	color : blueviolet;
	float: left;
}
.logo-text>h4:hover{
	cursor: pointer;
}
.please{
	display : flex;
	justify-content: space-between;
	flex-shrink: 0;
}
#integrated-search{
    border-right: none;
}
.search-bar {
	display : block;
	float : left;
    background-color: rgb(235, 235, 235);
    height: 40px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-right : none;
    text-align: center;
    width: 260px;
    border: 1px solid #ccc;
}
#search-icon{
	width : 40px;
	border-left : none;
	margin-left : 0px;
	margin-right : 10px;
	float : left;
	font-size: 30px;
	color : #ccc;
	background-color: rgb(235, 235, 235);
	height : 41.5px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;
}
#search-icon:hover{
	color : blueviolet;
}
.sign{
	flex-shrink: 0;
	
}
.sign>a{
	line-height : 50px;
}
.sign>a:hover{
	color : blueviolet;
	font-weight: bold;
}
.sign>i{
	line-height : 50px;
	color : #ccc;
}



#keyword {
    background-color:transparent;
    width: 150px;
    height: 25px;
    margin-top: 4px;
    border: none;
    text-indent: 14px;
}




.bottom-wrap {
    border-top: 1px solid #ccc;
}

.bottom-info-wrap {
    padding-top: 40px;
}

.bottom-wrap>div[class^="bottom-"] {
    color: gray;
}
.bottom-menu{
    width: 1200px;
    display: block;
    margin: 0 auto;
}
.bottom-menu>ul{
    width: 1200px;
    margin: 0 auto;
}
.bottom-menu>ul>a{
	color : #ccc;
	font-size: 13px;
}
.bottom-menu>ul>:first-child{
    margin-left: 30px;
}

.co-info{
	font-weight: bold;
}
.copyright{
	pointer-events: none;
}
.bottom-menu>ul>a:last-child{
	font-size: 12px;
}
.bottom-menu>ul>a:hover {
    color: blue;
    font-weight: 1000;
}

.bottom-info-wrap>div {
    float: left;
    text-align: center;
}

.bottom-info-wrap>div>p{
    font-size: 12px;
    color : #ccc;
}
.bottom-info-wrap>div>p>b{
	color : #ccc;
}
.content-category{
    padding-top: 50px;
}

.content-category>a{
    font-weight: bolder;
    font-size: larger;
}
.content-wrap{
	box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
	
}
.content-title{
	padding-top : 30px;
    height: 350px;
    width: 90%;
}
.autoplay>div img{
    width: 95%;
    height: 290px;
}
.slick-arrow{
    display: none;
}
.content-mid{
    width: 1000px;
}

.mid-content-title{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.mid-content-title>div>a{
    word-spacing: 880px;
}
.content-box{
    overflow: hidden;
    box-sizing: border-box;
}
.img-box{
    width: 500px;
    padding-bottom : 50px;
    float: left;
}

.img-box>a>img{
    border-radius: 10px;
    float: left;
    width: 200px;
    height: 300px;
}
.img-box>a{
    overflow: hidden;
}
.inner-wrap{
    width: 260px;
    float: right;
}
.inner-text{
    overflow: hidden;
}
.author{
    padding-right: 15px;
    font-weight: bold;
    font-size : 13px;
    float: left;
}
.inner-sub1{
    color: gray;
    font-size: 11px;
}
.inner-sub1 i{
	font-size : 11px;
}
.inner-sub2{
    margin-top: 10px;
    color: gray;
}.tags-box{
    margin-top: 20px;
}
.tag{
    border-radius: 5px;
    border: 1px solid #0000000d;
    background-color: #0000000d;
}
.btm-link1{
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    width: 1000px;
}
.link-main1>a{
    border: 1px solid gray;
    border-radius: 100px;
    padding: 15px;
    margin-left: 380px;
}
.btm-link2{
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 200px;
    width: 1000px;
}
.link-main2>a{
    border: 1px solid gray;
    border-radius: 100px;
    padding: 15px;
    margin-left: 440px;
}
/*---------------------------------icon*/
.write-icon{
    font-size: 10px;
}
.read-count-icon{
    vertical-align: bottom;
    font-size: 10px;
}
.favorite-icon{
    vertical-align: bottom;
    font-size: 10px;
}
.comment{
    vertical-align: bottom;
    font-size: 10px;
}
.material-symbols-outlined{
    margin-left: 10px;
}
/*---------------------------------*/
