/* 사용할 font 선언 */
@font-face {
font-family: ns-thin;
src: url(../font/NanumSquareNeoOTF-aLt.otf);
}
@font-face {
font-family: ns-light;
src: url(../font/NanumSquareNeoOTF-bRg.otf);
}
@font-face {
font-family: ns-m;
src: url(../font/NanumSquareNeoOTF-cBd.otf);
}
@font-face {
font-family: ns-bold;
src: url(../font/NanumSquareNeoOTF-dEb.otf);
}
@font-face {
font-family: ns-black;
src: url(../font/NanumSquareNeoOTF-eHv.otf);
}
/* 
    사이트 사용 색상 
    balck : #2f343d
    darkgray : #59516e;
    lightgray : #EEEEEE
    dark-blue : #3a4f7a
    light-pink : #ffc6d3
    point-pink : #fea1bf ***
    dark-pink : #e98ead
    point-violet : #952eee
*/
/* 전체태그 기본 margin, padding 제거 */
/* 기본 글씨 색 및 폰트 설정 */
* {
margin: 0;
padding: 0;
color: #2f343d;
font-family: ns-light;
}
body {
display: flex;
flex-direction: column;
min-height: 100vh;
}
/* 기본화면 레이아웃 */
a {
text-decoration: none;
}
.material-icons.dropdown {
font-size: 20px;
color: rgba(255, 255, 255, 0.6);
position: absolute;
right: 0px;
top: 27px;
transition-duration: 0.5s;
}
.material-icons.dropdown:hover {
cursor: pointer;
}
.page-content {
width: 1200px;
margin: 30px auto;
margin-bottom: 10px;
flex-grow: 1;
}
.page-title {
font-family: ns-bold;
padding: 20px 0px;
font-size: 1.5rem;
}
footer {
padding: 50px;
border-top: 1px solid #252a34;
}
footer > .footer-content {
width: 1200px;
margin: 0 auto;
padding: 0px 10px;
}
footer > .footer-content * {
font-size: 14px;
}
footer > .footer-content > ul {
list-style-type: none;
overflow: hidden;
margin-bottom: 20px;
}
footer > .footer-content > ul > li {
float: left;
}
footer > .footer-content > ul > li > a {
padding-right: 20px;
}

/* font 클래스*/
.f-thin {
font-family: ns-thin;
}
.f-light {
font-family: ns-light;
}
.f-medium {
font-family: ns-m;
}
.f-bold {
font-family: ns-bold;
}
.f-black {
font-family: ns-black;
}

/* 글씨 색 */
.fc-1 {
color: #2f343d;
}
.fc-2 {
color: #59516e;
}
.fc-3 {
color: #eeeeee;
}
.fc-4 {
color: #3a4f7a;
}
.fc-5 {
color: #ffc6d3;
}
.fc-6 {
color: #fea1bf;
}
.fc-7 {
color: #e98ead;
}
.fc-8 {
color: #952eee;
}

/* 배경 색*/
.bg-1 {
background-color: #2f343d;
}
.bg-2 {
background-color: #59516e;
}
.bg-3 {
background-color: #eeeeee;
}
.bg-4 {
background-color: #3a4f7a;
}
.bg-5 {
background-color: #ffc6d3;
}
.bg-6 {
background-color: #fea1bf;
}
.bg-7 {
background-color: #e98ead;
}
.bg-8 {
background-color: #952eee;
}

/* 테이블 디자인 */
.tbl {
width: 100%;
border-spacing: 0px;
border-collapse: collapse;
}
.tbl th,
.tbl td {
padding: 1rem;
text-align: center;
}
.tbl .tr-1 {
background-color: rgba(255, 255, 255, 1);
}
.tbl .tr-2 {
background-color: rgba(131, 115, 138, 0.1);
}
.tbl .tr-3 {
background-color: #dae1f0;
}
.tbl .tr-4 {
background-color: #ffe4ea;
}
.tbl .tr-5 {
background-color: #ffd7e4;
}
.tbl .tr-6 {
    background-color: #dfcfee;
}
.tbl .td-1 {
background-color: rgba(255, 255, 255, 1);
}
.tbl .td-2 {
background-color: rgba(134, 120, 139, 0.1);
}
.tbl .td-3 {
background-color: rgba(0, 173, 181, 0.1);
}
.tbl .td-4 {
background-color: rgba(137, 44, 220, 0.1);
}
.tbl .td-5 {
background-color: rgba(255, 46, 999, 0.1);
}
.tbl.tbl-hover .tr-1:hover {
background-color: rgba(0, 0, 0, 0.05);
}
.tbl.tbl-hover .tr-2:hover {
background-color: rgba(78, 84, 94, 0.15);
}
.tbl.tbl-hover .tr-3:hover {
background-color: #ced8f1;
}
.tbl.tbl-hover .tr-4:hover {
background-color: #f8d8df;
}
.tbl.tbl-hover .tr-5:hover {
background-color: #ffcede;
}
.tbl.tbl-hover .tr-6:hover {
    background-color: #d7bfee;
}

/* 버튼 디자인 */
.btn {
border: none;
padding: 17px 20px 17px 20px;
display: inline-block;
box-sizing: border-box;
transition-duration: 0.4s;
font-size: 16px;
font-family: ns-light;
border-radius: 4px;
}
.btn-pill{
border-radius: 10rem;
}
.bc1 {
background-color: #2f343d;
color: #fff;
border: 2px solid #2f343d;
}
.bc1:hover {
background-color: #262c38;
border: 2px solid #262c38;
cursor: pointer;
}
.bc2 {
background-color: #59516e;
color: #fff;
border: 2px solid #59516e;
}
.bc2:hover {
background-color: #403950;
border: 2px solid #403950;
cursor: pointer;
}
.bc3 {
background-color: rgba(238, 238, 238, 0.9);
color: #252a34;
border: 2px solid rgba(238, 238, 238, 0.9);
}
.bc3:hover {
background-color: rgba(238, 238, 238, 1);
border: 2px solid rgba(238, 238, 238, 1);
cursor: pointer;
}
.bc4 {
background-color: #3a4f7a;
color: #fff;
border: 2px solid #3a4f7a;
}
.bc4:hover {
background-color: #233863;
border: 2px solid #233863;
cursor: pointer;
}
.bc5 {
background-color: #ffc6d3;
color: #fff;
border: 2px solid #ffc6d3;
}
.bc5:hover {
background-color: #ffb1c2;
border: 2px solid #ffb1c2;
cursor: pointer;
}
.bc6 {
background-color: #fea1bf;
color: #fff;
border: 2px solid #fea1bf;
}
.bc6:hover {
background-color: #fa7ca4;
border: 2px solid #fa7ca4;
cursor: pointer;
}
.bc7 {
background-color: #e98ead;
color: #fff;
border: 2px solid #e98ead;
}
.bc7:hover {
background-color: rgb(248, 102, 151);
border: 2px solid rgb(248, 102, 151);
cursor: pointer;
}
.bc8 {
background-color: #952eee;
color: #fff;
border: 2px solid #952eee;
}
.bc8:hover {
background-color: #8008e9;
border: 2px solid #8008e9;
cursor: pointer;
}
.bc11 {
color: #2f343d;
background-color: #fff;
border: 2px solid #2f343d;
}
.bc11:hover {
background-color: #262c38;
cursor: pointer;
color: #fff;
}
.bc22 {
color: #59516e;
background-color: #fff;
border: 2px solid #403950;
}
.bc22:hover {
background-color: #403950;
cursor: pointer;
color: #fff;
}
.bc33 {
color: rgba(37, 42, 52, 1);
background-color: #fff;
border: 2px solid rgba(238, 238, 238, 1);
}
.bc33:hover {
background-color: rgba(238, 238, 238, 1);
cursor: pointer;
color: rgba(37, 42, 52, 1);
}
.bc44 {
color: #3a4f7a;
background-color: #fff;
border: 2px solid #3a4f7a;
}
.bc44:hover {
background-color: #3a4f7a;
color: #fff;
cursor: pointer;
}
.bc55 {
color: #ffc6d3;
background-color: #fff;
border: 2px solid #ffc6d3;
}
.bc55:hover {
background-color: #ffc6d3;
color: #fff;
cursor: pointer;
}
.bc66 {
color: #fea1bf;
background-color: #fff;
border: 2px solid #fea1bf;
}
.bc66:hover {
background-color: #fea1bf;
color: #fff;
cursor: pointer;
}
.bc77 {
color: #e98ead;
background-color: #fff;
border: 2px solid #e98ead;
}
.bc77:hover {
background-color: #e98ead;
color: #fff;
cursor: pointer;
}
.bc88 {
color: #952eee;
background-color: #fff;
border: 2px solid #952eee;
}
.bc88:hover {
background-color: #952eee;
color: #fff;
cursor: pointer;
}

.bc000 {
    color: #2f343d;
    background-color: #fff;
    border: 2px solid #ccc;
}
.bc111:hover {
cursor: pointer;
border-color: #2f343d;
color: #2f343d;
}
.bc222:hover {
cursor: pointer;
border-color: #59516e;
color: #59516e;
}
.bc333:hover {
cursor: pointer;
color: #59516e;;
border-color: rgba(238, 238, 238, 1);
}
.bc444:hover {
color: #3a4f7a;
cursor: pointer;
border-color: #3a4f7a;
}
.bc555:hover {
color: #ffc6d3;
cursor: pointer;
border-color: #ffc6d3;
}
.bc666:hover {
color: #fea1bf;
cursor: pointer;
border-color: #fea1bf;
}
.bc777:hover {
color: #e98ead;
cursor: pointer;
border-color: #e98ead;
}
.bc888:hover {
color: #952eee;
border-color: #952eee;
cursor: pointer;
}

.bs1 {
padding: 1rem;
}
.bs2 {
padding: 1.5rem;
font-size: 1.1em;
}
.bs3 {
padding: 1.8rem;
font-size: 1.2em;
}
.bs4 {
width: 100%;
padding: 2rem;
font-size: 1.2em;
}
/* input 디자인 */
.input-form {
width: 100%;
display: block;
padding: 0.8rem;
background-color: #fff;
outline: none;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.input-form:focus {
box-shadow: 0 0 0 0.1rem #eee;
}

textarea.input-form {
resize: none;
min-height: 300px;
}
.input-form:read-only:not(select),
.input-form:disabled {
background-color: #f7f7f7;
}
/* 페이징 디자인 */
.pagination {
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
}
.pagination > li {
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
overflow: hidden;
}
.pagination.circle-style > li {
border-radius: 50%;
}
.pagination > li > a.page-item {
display: block;
width: 100%;
height: 100%;
font-size: 18px;
}
.pagination > li > a.page-item > span.material-icons {
display: block;
width: 100%;
height: 100%;
line-height: 40px;
}
.pagination .page-item.active-page {
background-color: #fea1bf;
color: #fff;
}
/* 댓글 */
.comment-wrap{
    box-sizing: border-box;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.posting-comment {
    box-sizing: border-box;
    display: flex;
    padding: 20px 20px 20px 10px;
    list-style-type: none;
    border-top: 1px solid #e4e4e4;
    min-height: 100px;
}
.posting-comment:first-child{
    border-top: 1px solid transparent;
}
.posting-comment > li:first-child .material-icons {
    font-size: 60px;
    color: #ccc;
}
.posting-comment.reply > li:first-child {
    flex-direction: column;
    margin-left: 60px;
}
.posting-comment > li:last-child {
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}
.posting-comment > li:last-child > .comment-info{
    display: flex;
    justify-content: space-between;
}
.posting-comment > li:last-child > .comment-info > span:first-child{
    font-family: ns-bold;
    margin-bottom: 5px;
}
.posting-comment > li > .comment-date{
    margin-bottom: 15px;
}
.posting-comment > li > .comment-date > span{
    font-size: 12px;
    color: #a8a8a8;
    font-family: ns-light;
}
.posting-comment > li:last-child > .comment-content {
    font-family: ns-light;
    margin-bottom: 15px;
}
.posting-comment > li:last-child a{
    font-family: ns-light;
    font-size: 14px;
    color: #59516e;
}

.posting-comment > li .comment-link{
    width: 7%;
    display: flex;
    justify-content: space-between;
}
.posting-comment > li:last-child a:hover, a>span:hover {
    color: #fea1bf;
}
.posting-comment > li > a {
    float: right;
}

/*모달*/
.modal-bg {
    background-color: rgba(51, 52, 59, 0.3);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    flex-direction: column;

}
.modal-wrap {
    margin-top: 150px;
    width: 600px;
    background: #fff;
    height: auto;
    border-radius: 4px;
}
.modal-wrap div {
    padding: 1.2rem;
}
.modal-wrap>.modal-head{
    padding-top: 1.5rem;
}
.modal-wrap>.modal-head>h2{
    font-family: ns-bold;
}
.modal-wrap div:not(:last-child) {
    border-bottom: 1px solid #cecece;
}
.modal-wrap .modal-foot {
    text-align: right;
}
.modal-wrap div.modal-head {
    position: relative;
}
.close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 25px;
}
.close-icon:hover {
    cursor: pointer;
}

.modal-bg>.modal-wrap .modal-design2{
    background-color: #3a4f7a;
    color: #fff;
}
.modal-wrap .modal-btn2{
    text-align: center;
}
.bs6{
    width: 100%;
}

/*alert*/
.swal-button {
    background-color: #fea1bf;
    transition-duration: 0.4s;
}
.swal-button:not([disabled]):hover {
    background-color: #fa7ca4;
}