.loginJoin-wrap{
    width: 340px;
}

.loginJoin-wrap>.loginJoin-title{
    font-size: 30px;
    text-align: center;
}

.input-wrap{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-box:first-child{
    border-bottom: 1px solid lightgray;
}

.input-box{
    padding-left: 10px;
    border: none;
    box-sizing: border-box;
}

input::placeholder{
    font-size: 14px;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.a-btn{
    display: block;
    text-decoration: none;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}
