.line{
	border-top: 2px solid lightgray;
}
.inform-wrap{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 130px;
}
.inform-wrap>.book-icon{
    font-size: 80px;
    color: #e6e8eb;
}
.inform-wrap>.msg{
    color: #59516e;
    font-size: 14px;
}

.content-wrap{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
}
.mypage-content{
	display: flex;
}
.mypage-content>.mypage-title{
    font-size: 22px;
}
.mypage-detail{
	width:900px;
	margin-top: 20px;
	margin-bottom: 150px
}
.detail-title{
    font-family: ns-bold;
    padding-top: 20px;
    padding-bottom: 10px;
}
.detail-title:not(:first-child){
    padding-top: 30px;
}
.foot-btn{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}