@charset "UTF-8";

.story-wrap{

}

.story-header{
	padding : 20px 0;
	background-color: skyblue;
	border-bottom: 1px solid #eeeeee;
}
.story-header .book-and-story{
	width : 80%;
	margin: 0 auto;
	text-align: center;
	background-color: white;
}
.story-header .book-and-story .book-title{
	font-size: 12px;
	font-weight: bold;
}
.story-header .book-and-story .story-name{
	font-size: 20px;
}

.story-content{
	width : 80%;
	margin: 0 auto;
	background-color: silver;
}
.story-content{
	
}

.story-after{
	border-top : 1px solid #eeeeee;
}
.story-after .after-title{
	font-weight: bold;
	font-size: 20px;
	padding : 30px 0 10px 0;
}

.story-after .after-content{
	padding-bottom: 50px;
	border-bottom: 1px solid #eeeeee;
}