*{
    list-style-type: none;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    color : #000;
}


.book-wrap{
    width: 1200px;
    margin: 0 auto;
}
.book-list-header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 50px 0;
    margin-bottom: 50px;
}
.book-list-header div{
    float: left;
}
.book-list-header>div:first-child{
    font-size: 40px;
    font-weight: bold;
    padding-right:30px;
}

.book-content-box{
    width: 1000px;
    margin: 0 auto 80px auto;
}

.book-content{

    display: flex;
}
.book-cover{
    align-self: center;
    width: 180px;
    height: 240px;
}
.book-exp{
    padding: 0 10px;
    width: 630px;
}
.book-exp .book-title{
    font-size: 23px;
    font-weight: bold;
}
.book-exp .book-genre{
    display: flex;
    align-items: center;
    font-size:14px;
}
.book-exp .book-genre .material-symbols-outlined{
	font-size:18px;
	margin-left:0;
}
.book-exp .book-genre .gray-bar{
    color : #EEEEEE;
	margin : 0 10px;
}
.book-exp .book-genre a{
    margin-left: auto;
}
.book-exp .book-writer{
    padding-top: 10px;
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: bold;
    color: #952eee;
}
.book-exp .book-synop{
    background-color: #eeeeee;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    line-height: 30px;
}
.book-exp .book-synop::-webkit-scrollbar{
	width: 10px;
}
.book-exp .book-synop::-webkit-scrollbar-thumb {
    background-color: #ffc6d3;
    border-radius: 10px;
}
.book-exp .book-synop::-webkit-scrollbar-track {
    border-radius: 10px;
}


.book-button{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 250px;
}

.switch-zone{
    padding: 0px 10px;
    height: 80px;
}
.author-menu{
    display: none;
    justify-content: space-between;
    padding-top: 20px;
}
.book-story{
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.book-story .one-story{
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
}
.book-story .one-story div:not(:first-child){
    margin-right: 10px;
}
.book-story .one-story .icon-or-box{
    width: 3%;
    display: flex;
}



.book-story .one-story #none{
    display: none;
    font-size: 10px;
    text-align: center;
    color:red;
    line-height: 18px;
}
.book-story .one-story .story-scene{
    width: 8%;
    text-align: center;
}
.book-story .one-story .story-title{
    width: 70%;
}
.book-story .one-story .story-coment{
    display: flex;
    justify-content: center;
    width: 10%;
}
.book-story .one-story .story-date{
    width: 10%;
    text-align: center;
}